@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  @font-face {
    font-family: deuts;
    src: url(../assets/Deutschlands.ttf);
  }

  @font-face {
    font-family: railway;
    src: url(../assets/Raleway-VariableFont_wght.ttf);
  }
}

.blink-class {
  animation: blink 3.5s linear infinite;
}

@keyframes blink {
  25% {
    opacity: 0.5;
  }
  50% {
    opacity: 0;
  }
  75% {
    opacity: 0.5;
  }
}